* {

  box-sizing: border-box;

}



header {
  border: solid 10px;
  height: 150px;
  background-color: olive;
}

#logo {
  float: left;
  width: auto;
  height: 88px;
  border-radius: 15%;
  display: flex;

}

section img {

  float: left;
  width: 33.33%;
  padding: 15px;
  height: 333px;

}

h1 {
  text-align: center;
  color: black;
  font-size: 69px;
  font-family: 'Bungee Spice', cursive;
  padding-top: 40px;

}


h2 {
  font-size: 30px;
  font-family: cursive;
  font-weight: 700;
  font-stretch: semi-expanded;
  background: linear-gradient(to right, #f24b13, #ef348b, #4f0cea, #008cff, #00a2b7, #04e90f, #eaff00, #ff9d00, #fb3b00);
  height: 140px;
  text-align: center;
  padding-top: 50px;
  font-style: italic;


}


section img:hover {
  border: 15px solid rgb(255, 0, 0);
  cursor: crosshair;
}

main {
  background-color: grey;
  size: 800px;
  align-content: center;
}

.yolo {
  width: 15vw;
  height: 3.5vw;
  color: white;
  font-weight: 200;
  padding-top: 100px;
}

/* #oddButton { 
  align-self: center;
  
 
  
} */
footer {
  background-color: darkolivegreen;
  height: 129px
}
#meseeks {
  align-self: center;
  height: auto;
  width: auto;
}

p {
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-style: italic;
  text-size-adjust: 16px;
  padding-top: 350px;
  background-color: rgb(34, 41, 178);
  text-indent: 50px;
  padding-bottom: 150px;
}

canvas {
  padding-top: 250px;

}